<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla de Loterías</title>
    <link rel="stylesheet" href="loteria_template.css">
</head>
<body>
    <div class="loteria-container" id="loteriaContainer">
        <!-- Este contenedor será rellenado dinámicamente con loterías -->
    </div>
    <script src="loteria_template.js"></script>
</body>
</html>
